{% extends 'base.html' %}

{% block content %}
    {% if api_response %}
        {% if api_response == 'Error' %}
        <br>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> There was an issue fetching the data. Please try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
            {{ api_response.0 }}
            <br>
            <br>
            Air Quality: {{ api_response.0.AQI }}
        {% endif %}
    {% endif %}
{% endblock %}